/* social */

.icon-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.icon-btn:hover {
  color: red;
}

.icon-btn:active {
  color:aquamarine;
}

.social {
  margin-top:15px;
}

.social button {
  font-size: 2em;
}

