.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#counter {
  user-select: none;
   font-size: 72;
    font-weight: bold;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main-nav {

}

.icon-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.icon-btn:hover {
  color: red;
}

.icon-btn:active {
  color:aquamarine;
}

.social {
  margin-top:15px;
}

.social button {
  font-size: 2em;
}

.box {
    width: 100px;
    margin: auto;
    border: solid;
    border-radius: 5px;
}

.box:hover {
  background: lightgray;
  cursor: pointer;
}